@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serrif;
  --color-primary: #203562;
  --color-secondary: #f5f5f5;
}

@custom-variant dark (&:where(.dark, .dark *));
