@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-inter: Inter, sans-serif;
  --gray: #f3f3f7;
  --white: #ffffff;
  --genteng: #f4683c;
  --grey: #d6d6d6;
  --blue: #0071e3;
  --green: #42bb4e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  background-color: var(--gray);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

header {
  background-color: var(--genteng);
  padding: 24px 0;
}

header > h1 {
  color: var(--white);
  margin: 0;
}

input::placeholder {
  font-family: var(--font-inter);
}

input {
  font-family: var(--font-inter);
}

.form_label {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
}

.form_label_checkbox {
  font-size: 14px;
  cursor: pointer;
}

.form__input {
  display: block;
  width: 100%;
  padding: 12px 18px;
  border-radius: 10px;
  border: 1px solid var(--grey);
  outline: none;
}

.form__input:focus {
  border: 1px solid var(--blue);
}

.invalid {
  border: 1px solid red;
}

.input_group {
  margin-bottom: 12px;
}

.btn__submit {
  display: block;
  width: 100%;
  background-color: var(--genteng);
  padding: 14px;
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
}

.btn__submit:hover {
  opacity: 0.75;
}

.btn__search_wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}

.btn__search {
  width: 100%;
  background-color: var(--genteng);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  padding: 14px 20px;
}

.btn__search:hover {
  opacity: 0.75;
}

.section__form_add {
  border-radius: 10px;
  background-color: var(--white);
  padding: 28px 48px 48px 48px;
  margin-top: 24px;
}

.section__form_add > h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 20px;
}

.section__form_search {
  border-radius: 10px;
  background-color: var(--white);
  padding: 28px 48px 48px 48px;
  margin-top: 24px;
}

.section__form_search > h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 20px;
}

.form__search_book {
  display: flex;
  justify-content: space-between;
}

.form__input_search {
  width: 90%;
}

.section__incomplete {
  width: 100%;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section__completed {
  width: 100%;
  border-radius: 10px;
  margin-top: 24px;
}

.book_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  background-color: var(--white);
  border-radius: 6px;
}

.book_item > h3[data-testid='bookItemTitle'] {
  font-size: 16px;
  width: calc(23% - 10px);
  padding: 12px;
  margin: 0;
}

.book_item > p[data-testid='bookItemAuthor'] {
  width: calc(22% - 10px);
  padding: 12px;
  margin: 0;
}

.book_item > p[data-testid='bookItemYear'] {
  width: calc(12% - 10px);
  padding: 12px;
  margin: 0;
}

.book_item_actions {
  width: calc(43% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.btn_actions {
  outline: none;
  border: none;
  border-radius: 4px;
  color: var(--white);
  padding: 8px 20px;
  cursor: pointer;
  font-size: 13px;
}
.book_item_actions > [data-testid='bookItemIsCompleteButton'] {
  background-color: var(--green);
}
.book_item_actions > [data-testid='bookItemDeleteButton'] {
  background-color: var(--genteng);
}
.book_item_actions > [data-testid='bookItemEditButton'] {
  background-color: var(--blue);
  text-decoration: none;
}

.book_item_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  background-color: var(--white);
  border-radius: 6px;
}

.book_item_header > .title {
  font-size: 16px;
  width: calc(23% - 10px);
  padding: 12px;
  margin: 0;
  font-weight: bold;
}

.book_item_header > .author {
  width: calc(22% - 10px);
  padding: 12px;
  margin: 0;
  font-weight: bold;
}

.book_item_header > .year {
  width: calc(12% - 10px);
  padding: 12px;
  margin: 0;
  font-weight: bold;
}

.book_item_header > .actions {
  width: calc(43% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 0;
  text-align: end;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

@media (width < 1024px) {
  .book_item {
    display: block;
  }

  .book_item > h3[data-testid='bookItemTitle'],
  .book_item > h3[data-testid='bookItemAuthor'],
  .book_item > h3[data-testid='bookItemYear'],
  .book_item_actions {
    width: 100%;
  }

  .book_item_actions {
    justify-content: start;
    gap: 24px;
  }

  .book_item_header {
    display: none;
  }
}
